services:  
  mariadb:
    image: mariadb
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: example-password
      MARIADB_DATABASE: example-db
      MARIADB_USER: example-user
      MARIADB_PASSWORD: example-password-user
    ports:
      - "3306:3306"
    command: 
      [
        "--server-id=1",
        "--log-bin=mariadb-bin",
        "--binlog-format=ROW",
        "--expire-logs-days=7",
        "--max-binlog-size=100M",
        "--bind-address=0.0.0.0"
      ]

    #DEBUG COMMANDS
    # - RUN ON MARIADB TERMINAL(gets the binlog) mariadb-binlog --base64-output=decode-rows --start-datetime="2025-12-18 16:12:00" -vv mariadb-bin.000002
    # - (gets the binlog filenames) SHOW BINARY LOGS;
    # - (get binlog variables like the binlog path for example) SHOW VARIABLES LIKE '%log_bin%';
    # - (gets the field names in a table) SHOW COLUMNS FROM demo;
    
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin

  dumont:
    image: dumont
    depends_on:
      - mariadb
      - rabbitmq
    restart: always
    ports:
      - 3000:3000
    build:
      dockerfile: Dockerfile
    environment:
      DATABASE_NAME: example-db
      DATABASE_PASSWORD: example-password
      DATABASE_USER: root
      DATABASE_HOST: mariadb
      DATABASE_PORT: 3306
      EXECUTE_INTERVAL: 30
      MAX_CONSUMERS: 3
      PRODUCER_HOST: amqp://admin:admin@rabbitmq:5672/
      PRODUCER_QUEUE_NAME: dumont

  #maxwell:
  #  image: zendesk/maxwell:latest
  #  container_name: maxwell
  #  depends_on:
  #    - mysql
  #    - rabbitmq
  #  command:
  #    bin/maxwell
  #    --host=mysql
  #    --user=root
  #    --password=example-password
  #    --schema_database=maxwell
  #    --rabbitmq_host=rabbitmq
  #    --rabbitmq_port=5672
  #    --rabbitmq_user=admin
  #    --rabbitmq_pass=admin
  #    --rabbitmq_virtual_host=/
  #    --rabbitmq_exchange=maxwell
  #    --rabbitmq_exchange_durable=true
  #    --filter=include:example-db.*
  #    --producer=rabbitmq
  #    --log_level=debug.